[Desktop Entry]
Icon=application-x-xz-compressed-tar
Name=yakuake-3.0.4.tar.xz
Type=Link
URL[$e]=file:$HOME/Downloads/yakuake-3.0.4.tar.xz
X-KDE-LastOpenedWith=
