[Desktop Entry]
Comment=Look and Feel theme inspired by GNOME Shell
Name=KShell
X-KDE-PluginInfo-Author=llucas
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=kdeokk@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=LGPL 2.1+
X-KDE-PluginInfo-Name=KShell
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=https://plus.google.com/+KDEOKK
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1001176,kns://plasma-themes.knsrc/api.kde-look.org/998825,kns://plasmoids.knsrc/api.kde-look.org/1167789
