#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Network File Share for Chrome OS
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=ndjpildffkeodjdaeebdhnncfhopkajk
Icon=chrome-ndjpildffkeodjdaeebdhnncfhopkajk-Profile_1
StartupWMClass=crx_ndjpildffkeodjdaeebdhnncfhopkajk
