#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Movies & TV
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=gdijeikdkaembjbdobgfkoidjkpbmlkd
Icon=chrome-gdijeikdkaembjbdobgfkoidjkpbmlkd-Profile_1
StartupWMClass=crx_gdijeikdkaembjbdobgfkoidjkpbmlkd
